<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CatchEmAll</title>
		<link rel="stylesheet" type="stylesheet" href="/public/assets/css/catchem_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
	<footer><span>Photo by <a href="https://unsplash.com/@atulvi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Atul Vinayak</a> on <a href="https://unsplash.com/s/photos/pokemon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></footer>
</html>