<div class="container-fluid">
    <div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Catch 'Em All!</h1>
    <p class="lead">keep track of pokemon you want to catch and the ones you've already caught</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        
        <ol class="list-group list-group-flush">
            <h2>Pokemon Wishlist:</h2>
        {{#each pokemons}}
  	        {{#unless caught}}
                {{> pokemon/pokemoncard captured=false}}
            {{/unless}}
        {{/each}}
        </ol>
    </div>
    <div class="col">
        <ol class="list-group list-group-flush">
            <h2>Pokemon Caught:</h2>
         {{#each pokemons}}
            {{#if caught}}
                <li class="list-group-item">
	                {{pokemon_name}}
                </li>
            {{/if}}
        {{/each}}
        </ol>
    </div>
    </div>
<div class="col-5">
    <div class="form card style="width:60%;"">
    <h4>Add a Pokemon to wishlist</h4>
  <form class="create-form">
    <label for="pokeInput">Pokemon:</label>
  	<input type="text" id="pokeInput" name="pokemon_name">
  	<button type="submit">Submit</button>
  </form>
</div>
</div>
</div>
<footer class="fixed-bottom footer">
    <div class="container">
        <span>Created by <a href="https://github.com/BeccaBlanton">BeccaBlanton</a>
            Photo by <a href="https://unsplash.com/@atulvi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Atul Vinayak</a> on <a href="https://unsplash.com/s/photos/pokemon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
        </span>
    </div>
</footer>
