body {
  font-size: 25px;
  background: url('../img/pokemonbackground.jpg') center;
  background-size: cover;
}
body, html {
    color: teal;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.col{
  text-align: center;
}
.jumbotron {
  text-align: center;
  background-color: honeydew;
}
h1{
  font-weight:bold;
}
  
.list-group{
  border-style: groove;
}
.change-captured {
float:right;
color:teal
}
button:hover{
  background-color: gainsboro;
}

.form{
  background-color: honeydew;
  margin-top: 1rem;
  border-width: thick;
  border-style: double;
}
footer{
  background-color: honeydew;
}